body
	{
    width: 1100px;
    border: 2px solid grey;
    margin: auto;
}

.link{
	width: 800px;
}

.link a{
	color: green;
	text-decoration: none;
	float: right;
	margin: 15px;
}
    


.xinh img{
	width:800px;		
}
.xinh:hover{
	border: 2px solid red;
}
a:hover{
	font-size: 26px;
	color: orange;

}
div {
	font-size: 25px;
    float: right;

}
.logo{
	height: 233px;
}
.logo:hover{
border: 2px solid red;
border-radius: 50%;
}

