@keyframes ti {
			20%{
				color: red;
			}
			40%{
				color: black;
			}
			60%{
				color: pink;
			}
			100%{
				color: orange;
			}
		}
h1 {
	text-align: center;
	color: black;
	animation: ti 10s ease infinite;
}

h2{
   color: red;
}

div{
	text-align: center;
	
}

.thumbnail{
	width: 250px;
	height: 200px;
	margin: 15px;
	opacity: 1;
	transition: all 5s;
}
.thumbnail:hover{
	opacity: 0.8;
	transform: translate(0,-5px);
	transition: all 0.5s;
	box-shadow: 0 5px 5px 0px rgba(9,8,4,0.8)

}
@keyframes tt {
			20%{
				color: red;
			}
			40%{
				color: black;
			}
			60%{
				color: pink;
			}
			100%{
				color: orange;
				transform: translate(-100%,0);
				opacity: 0;
			}
		}
p{
	margin: 80px;
	opacity: 1;
	
	animation: tt 10s ease infinite;

}
